[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "capesR"]
	path = capesR
	url = https://github.com/milkway/capesr
[submodule "dwg2geo"]
	path = dwg2geo
	url = https://github.com/milkway/dwg2geo-r
[submodule "rpic"]
	path = rpic
	url = https://github.com/milkway/rpic-r
